.DS_Store
.vscode/branch-timer.json
.vscode/settings.json
docs/.DS_Store
docs/case-for-raspberry-pi-5-product-brief.pdf
docs/raspberry-pi-4-datasheet.pdf
docs/raspberry-pi-4-mechanical-drawing.dxf
docs/raspberry-pi-4-mechanical-drawing.pdf
docs/raspberry-pi-4-product-brief.pdf
docs/raspberry-pi-4-reduced-schematics.pdf
docs/raspberry-pi-5-mechanical-drawing.pdf
docs/raspberry-pi-5-product-brief.pdf
docs/Terms and conditions - Raspberry Pi.pdf
benchmarks/0.0_benchmark/benchmark_0.0.csv