.DS_Store
Documentation/Terms and conditions - Raspberry Pi.pdf
Documentation/documentation-develop
.vscode/branch-timer.json
.vscode/settings.json
Documentation/case-for-raspberry-pi-5-product-brief.pdf
.history
.vscode/launch.json
.vscode/tasks.json
pi4-V-pi5/Documentation/Raspberry Pi 4 Datasheet.pdf
pi4-V-pi5/Documentation/raspberry-pi-4-datasheet.pdf
pi4-V-pi5/Documentation/raspberry-pi-4-mechanical-drawing.pdf
pi4-V-pi5/Documentation/raspberry-pi-4-product-brief.pdf
pi4-V-pi5/Documentation/raspberry-pi-5-product-brief.pdf
d.code-
d.code-profile
docs/case-for-raspberry-pi-5-product-brief.pdf
docs/Raspberry Pi 4 Datasheet.pdf
docs/raspberry-pi-4-datasheet.pdf
docs/raspberry-pi-4-mechanical-drawing.dxf
docs/raspberry-pi-4-mechanical-drawing.pdf
docs/raspberry-pi-4-product-brief.pdf
docs/raspberry-pi-4-reduced-schematics.pdf
docs/raspberry-pi-5-mechanical-drawing.pdf
docs/raspberry-pi-5-product-brief.pdf
docs/Terms and conditions - Raspberry Pi.pdf
